#container {
    height: 60%;
    width: 80%;
margin: auto;
padding: 45px;
}
table {
    border: 2px solid black;
    padding: 14px;
    height: 60%;
    width: 60%;
    margin: 10px;
    border-collapse: collapse;
}
#menu1,#menu2 {
    margin-bottom: 10px;
    margin-left: 16px;
}


table th,tr,td {
    border: 1px solid grey;
    padding: 10px 20px;
}

#but {
    margin-top:10px;
    
}
